{% extends 'base.html' %}

{% block page_title %}Cadastro{% endblock %}

{% block content %}
<center>
    <!-- Exibe mensagens -->
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'cadastro' %}" method="POST"> {% csrf_token %}
        <input type="text" placeholder="Usuario" name="username" class="form-control">
        <br>
        <input type="email" placeholder="Email" name="email" class="form-control">
        <br>
        <input type="password" placeholder="Senha" name="senha" class="form-control">
        <br>
        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </form>
    <br>
    <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
</center>
{% endblock %}
