{% extends 'base.html' %}

{% block page_title %}Login{% endblock %}

{% block content %}
<center>
    <!-- Exibe mensagens -->
    {% if messages %}
        {% for message in messages %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
        <input type="text" placeholder="Usuário" name="username" class="form-control">
        <br>
        <input type="password" placeholder="Senha" name="senha" class="form-control">
        <br>
        <input type="submit" value="Logar" class="btn btn-primary">
    </form>
    <br>
    <p>Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>
</center>
{% endblock %}
